a {
  text-decoration: none;
}

footer {
  background-color: #1f1f1f;
  text-align: center;
  text-transform: uppercase;
  padding-top: 30px;
  margin-top: 10rem;
}

footer li {
  list-style: none;
  margin: 10px;
  display: inline-block;
}

.icons a {
  background: #42426e;
  color: #272727;
  padding: 14px;
  font-size: 20px;
  border-radius: 100%;
  display: flex;
}
.icons a:hover {
  color: #ffffff;
  transition: 0.5s;
}

.menu a {
  color: #ffffff;
  text-transform: capitalize;
}
.menu a:hover {
  color: #52527a;
  transition: 0.5s;
}

.footer-copyright {
  background-color: #42426e;
  color: #ffffff;
  padding: 15px;
  margin-top: 30px;
  text-transform: capitalize;
}

.footer-copyright p {
  margin-bottom: 0px;
}
